@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  width: 100%;
  background: #ffffff;
  background-color: #ffffff;
  position: relative;
  justify-content: space-between;
  text-align: center;
  padding: 10px 30px;
  box-shadow: 0px 3px 10px 0 rgba(38, 85, 255, 0.477);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

nav .icon {
  cursor: pointer;
  padding: 6px 0px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: auto 0;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  color: #303030;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 0px;
  padding: 5px 10px;
}

nav ul li:hover a {
  color: #483df9;
}

nav .search_box {
  display: flex;
  margin: auto 0;
  height: 35px;
  line-height: 35px;
}

nav .search_box input {
  border: none;
  outline: none;
  background: #ebeaff;
  height: 100%;
  padding: 0 10px;
  font-size: 16px;
  width: 350px;
}

nav .search_box span {
  color: #303030;
  font-size: 20px;
  background: #ebeaff;
  height: 100%;
  padding: 8px;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

nav .search_box span::after {
  height: 100%;
  width: 0%;
  content: "";
  background: #483df9;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

nav .search_box span:hover::after {
  width: 100%;
}

nav .bar {
  position: relative;
  margin: auto;
  display: none;
}

nav .bar span {
  position: absolute;
  color: #303030;
  font-size: 20px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  display: none;
}

@media screen and (max-width: 1275px) {
  nav {
    display: block;
    padding: 0;
  }
  nav .icon {
    display: inline-block;
    padding: 10px 30px;
  }
  nav .search_box {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-bottom: 15px;
  }
  nav .search_box input {
    width: 90%;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    height: 0;
    visibility: hidden;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  nav ul li {
    text-align: center;
  }
  nav ul li a {
    color: #303030;
    font-size: 16px;
    padding: 10px;
    display: block;
  }
  nav .bar {
    display: block;
    position: absolute;
    top: 15px;
    right: 30px;
    cursor: pointer;
  }
  nav .bar #times {
    display: none;
  }
  #check:checked ~ nav .bar #times {
    display: block;
  }
  #check:checked ~ nav .bar #bars {
    display: none;
  }
  #check:checked ~ nav ul {
    visibility: visible;
    height: 280px;
  }
}




section.headline, aside.popular-topics, section.other-headlines {
  background: #fff;
  padding: 10px;
  margin: 20px 0;
}



/* Footer */
footer {
  width: 100%;
  background: #ffffff;
  color: #303030;
  padding: 10px 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 13px;
  line-height: 20px;
  box-shadow: 0px 3px 10px 0 rgba(38, 85, 255, 0.477);
  margin-top: 20px; /* Add some margin to the top to prevent overlap */
}

section {
  background: none;
  height: auto;
  width: auto;
  position: relative;
  background-color: #ebeaff;
  top: auto;
  z-index: auto;
}

main {
  position: relative;
  z-index: 1;
}
.row{
    width: 98%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}

.logo{
    width: 280px;
    margin-bottom: 30px;
}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
ul li{
    list-style: none;
    margin-bottom: 12px;
}
ul li a{
    text-decoration: none;
    color: #303030;
}
form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
form .far{
    font-size: 18px;
    margin-right: 10px;
}
form input{
    width: 100%;
    background: transparent;
    color: #303030;
    border: 0;
    outline: none;
}
form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
form button .fas{
    font-size: 16px;
    color: #ccc;
}
.social-icons .fab{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #303030;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 10px auto;
}
.copyright{
    text-align: center;
}
.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

header h1 {
  padding: 10px;
  background-color: white;
  box-shadow: 0px 3px 10px 0 rgba(38, 85, 255, 0.477);
  margin-top: 20px;
  border-radius: 10px;
}

.flex {
  display: flex;
}

.bg-grey {
  background-color: #64646d;
}

.headline {
  height: 100px;
  width: 80%;
}

.topik-populer {
  margin-left: 14px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}



@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100px;
    }
}


/* @media (max-width: 700px) {
    footer{
        bottom: unset;
    }
    .col{
        flex-basis: 100%;

    }
    .col:nth-child(2), .col:nth-child(3){
        flex-basis: 100%;
} */
